#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/04742e4b-5713-46a6-97ee-6ff9a3f3d8a6/ # 

title: NextGenPSD2 XS2A Framework
version: 1.3.3 Mar 13th 2019

# baseUri: https://api.testbank.com/psd2
baseUriParameters: {}
protocols:
- HTTPS
documentation:
- title: NextGenPSD2 XS2A Framework
  content: "# Summary\nThe **NextGenPSD2** *Framework Version 1.3.2* offers a modern, open, harmonised and interoperable set of \nApplication Programming Interfaces (APIs) as the safest and most efficient way to provide data securely. \nThe NextGenPSD2 Framework reduces XS2A complexity and costs, addresses the problem of multiple competing standards \nin Europe and, aligned with the goals of the Euro Retail Payments Board,\nenables European banking customers to benefit from innovative products and services ('Banking as a Service') \nby granting TPPs safe and secure (authenticated and authorised) access to their bank accounts and financial data.\n\nThe possible Approaches are:\n  * Redirect SCA Approach\n  * OAuth SCA Approach\n  * Decoupled SCA Approach\n  * Embedded SCA Approach without SCA method\n  * Embedded SCA Approach with only one SCA method available\n  * Embedded SCA Approach with Selection of a SCA method\n\n  Not every message defined in this API definition is necessary for all approaches. \n  Furthermore this API definition does not differ between methods which are mandatory, conditional, or optional\n  Therefore for a particular implementation of a Berlin Group PSD2 compliant API it is only necessary to support \n  a certain subset of the methods defined in this API definition.\n\n  **Please have a look at the implementation guidelines if you are not sure \n  which message has to be used for the approach you are going to use.**\n\n## Some General Remarks Related to this version of the OpenAPI Specification:\n* **This API definition is based on the Implementation Guidelines of the Berlin Group PSD2 API.** \n  It is not an replacement in any sense.\n  The main specification is (at the moment) always the Implementation Guidelines of the Berlin Group PSD2 API.\n* **This API definition contains the REST-API for requests from the PISP to the ASPSP.**\n* **This API definition contains the messages for all different approaches defined in the Implementation Guidelines.**\n* According to the OpenAPI-Specification [https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md]\n  \n    \"If in is \"header\" and the name field is \"Accept\", \"Content-Type\" or \"Authorization\", the parameter definition SHALL be ignored.\"\n  \n  The element \"Accept\" will not be defined in this file at any place.\n  \n  The elements \"Content-Type\" and \"Authorization\" are implicitly defined by the OpenApi tags \"content\" and \"security\".\n  \n* There are several predefined types which might occur in payment initiation messages, \n  but are not used in the standard JSON messages in the Implementation Guidelines.\n  Therefore they are not used in the corresponding messages in this file either.\n  We added them for the convenience of the user.\n  If there is a payment product, which need these field, one can easily use the predefined types.\n  But the ASPSP need not to accept them in general.\n  \n* **We omit the definition of all standard HTTP header elements (mandatory/optional/conditional) \n  except they are mention in the Implementation Guidelines.**\n  Therefore the implementer might add the in his own realisation of a PSD2 comlient API in addition to the elements define in this file.\n   \n## General Remarks on Data Types\n\nThe Berlin Group definition of UTF-8 strings in context of the PSD2 API have to support at least the following characters\n\na b c d e f g h i j k l m n o p q r s t u v w x y z\n\nA B C D E F G H I J K L M N O P Q R S T U V W X Y Z\n\n0 1 2 3 4 5 6 7 8 9\n\n/ - ? : ( ) . , ' +\n\nSpace"
types:
  authenticationObject:
    displayName: authenticationObject
    description: Authentication Object
    type: object
    properties:
      authenticationType:
        required: true
        displayName: authenticationType
        description: "Type of the authentication method.\n\nMore authentication types might be added during implementation projects and documented in the ASPSP documentation.\n\n  - 'SMS_OTP': An SCA method, where an OTP linked to the transaction to be authorised is sent to the PSU through a SMS channel.\n  - 'CHIP_OTP': An SCA method, where an OTP is generated by a chip card, e.g. an TOP derived from an EMV cryptogram. \n    To contact the card, the PSU normally needs a (handheld) device. \n    With this device, the PSU either reads the challenging data through a visual interface like flickering or \n    the PSU types in the challenge through the device key pad. \n    The device then derives an OTP from the challenge data and displays the OTP to the PSU.\n  - 'PHOTO_OTP': An SCA method, where the challenge is a QR code or similar encoded visual data \n    which can be read in by a consumer device or specific mobile app. \n    The device resp. the specific app than derives an OTP from the visual challenge data and displays \n    the OTP to the PSU.\n  - 'PUSH_OTP': An OTP is pushed to a dedicated authentication APP and displayed to the PSU."
        type: string
        enum:
        - SMS_OTP
        - CHIP_OTP
        - PHOTO_OTP
        - PUSH_OTP
      authenticationVersion:
        required: false
        displayName: authenticationVersion
        description: |
          Depending on the "authenticationType".

          This version can be used by differentiating authentication tools used within performing OTP generation in the same authentication type.

          This version can be referred to in the ASPSP?s documentation.
        type: string
      authenticationMethodId:
        required: true
        displayName: authenticationMethodId
        description: An identification provided by the ASPSP for the later identification of the authentication method selection.
        type: string
        maxLength: 35
      name:
        required: false
        displayName: name
        description: |
          This is the name of the authentication method defined by the PSU in the Online Banking frontend of the ASPSP.

          Alternatively this could be a description provided by the ASPSP like "SMS OTP on phone +49160 xxxxx 28".

          This name shall be used by the TPP when presenting a list of authentication methods to the PSU, if available.
        type: string
      explanation:
        required: false
        displayName: explanation
        description: Detailed information about the SCA method for the PSU.
        type: string
  signingBasket:
    displayName: signingBasket
    description: |
      JSON Body of a establish signing basket request.

      The body shall contain at least one entry.
    type: object
    properties:
      paymentIds:
        required: false
        displayName: paymentIds
        description: A list of paymentIds
        type: array
        uniqueItems: false
        minItems: 1
        items:
          type: string
      consentIds:
        required: false
        displayName: consentIds
        description: A list of consentIds
        type: array
        uniqueItems: false
        minItems: 1
        items:
          type: string
  challengeData:
    displayName: challengeData
    description: |
      It is contained in addition to the data element 'chosenScaMethod' if challenge data is needed for SCA.

      In rare cases this attribute is also used in the context of the 'startAuthorisationWithPsuAuthentication' link.
    type: object
    properties:
      image:
        required: false
        displayName: image
        description: |
          PNG data (max. 512 kilobyte) to be displayed to the PSU,

          Base64 encoding, cp. [RFC4648].

          This attribute is used only, when PHOTO_OTP or CHIP_OTP

          is the selected SCA method.
        type: string
      data:
        required: false
        displayName: data
        description: String challenge data
        type: string
      imageLink:
        required: false
        displayName: imageLink
        description: A link where the ASPSP will provides the challenge image for the TPP.
        type: string
      otpMaxLength:
        required: false
        displayName: otpMaxLength
        description: The maximal length for the OTP to be typed in by the PSU.
        type: integer
        format: int32
      otpFormat:
        required: false
        displayName: otpFormat
        description: The format type of the OTP to be typed in. The admitted values are "characters" or "integer".
        type: string
        enum:
        - characters
        - integer
      additionalInformation:
        required: false
        displayName: additionalInformation
        description: |
          Additional explanation for the PSU to explain

          e.g. fallback mechanism for the chosen SCA method.

          The TPP is obliged to show this to the PSU.
        type: string
  hrefType:
    displayName: hrefType
    description: Link to a resource
    type: object
    properties:
      href:
        required: false
        displayName: href
        description: Link to a resource
        type: string
  authorisations:
    displayName: authorisations
    description: An array of all authorisationIds
    type: object
    properties:
      authorisationIds:
        required: true
        displayName: authorisationIds
        description: An array of all authorisationIds
        type: array
        items:
          type: string
  accountReference:
    displayName: accountReference
    description: "Reference to an account by either\n  * IBAN, of a payment accounts, or\n  * BBAN, for payment accounts if there is no IBAN, or \n  * the Primary Account Number (PAN) of a card, can be tokenised by the ASPSP due to PCI DSS requirements, or\n  * the Primary Account Number (PAN) of a card in a masked form, or\n  * an alias to access a payment account via a registered mobile phone number (MSISDN)."
    type: object
    properties:
      iban:
        required: false
        displayName: iban
        description: IBAN of an account
        type: string
        pattern: '[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}'
      bban:
        required: false
        displayName: bban
        description: "Basic Bank Account Number (BBAN) Identifier\n\nThis data element can be used in the body of the Consent Request\n  Message for retrieving Account access Consent from this Account. This\n  data elements is used for payment Accounts which have no IBAN.\n  ISO20022: Basic Bank Account Number (BBAN). \n  \n  Identifier used nationally by financial institutions, i.e., in individual countries, \n  generally as part of a National Account Numbering Scheme(s), \n  which uniquely identifies the account of a customer."
        type: string
        pattern: '[a-zA-Z0-9]{1,30}'
      pan:
        required: false
        displayName: pan
        description: Primary Account Number according to ISO/IEC 7812.
        type: string
        maxLength: 35
      maskedPan:
        required: false
        displayName: maskedPan
        description: Masked Primary Account Number
        type: string
        maxLength: 35
      msisdn:
        required: false
        displayName: msisdn
        description: Mobile phone number.
        type: string
        maxLength: 35
      currency:
        required: false
        displayName: currency
        description: ISO 4217 Alpha 3 currency code
        type: string
        pattern: '[A-Z]{3}'
  accountAccess:
    displayName: accountAccess
    description: Requested access services for a consent.
    type: object
    properties:
      accounts:
        required: false
        displayName: accounts
        description: "Is asking for detailed account information. \n\nIf the array is empty, the TPP is asking for an accessible account list. \nThis may be restricted in a PSU/ASPSP authorization dialogue.\nIf the array is empty, also the arrays for balances or transactions shall be empty, if used."
        type: array
        items:
          type: accountReference
      balances:
        required: false
        displayName: balances
        description: "Is asking for balances of the addressed accounts.\n\nIf the array is empty, the TPP is asking for the balances of all accessible account lists. \nThis may be restricted in a PSU/ASPSP authorization dialogue.\nIf the array is empty, also the arrays for accounts or transactions shall be empty, if used."
        type: array
        items:
          type: accountReference
      transactions:
        required: false
        displayName: transactions
        description: "Is asking for transactions of the addressed accounts. \n\nIf the array is empty, the TPP is asking for the transactions of all accessible account lists. \nThis may be restricted in a PSU/ASPSP authorization dialogue.\nIf the array is empty, also the arrays for accounts or balances shall be empty, if used."
        type: array
        items:
          type: accountReference
      availableAccounts:
        required: false
        displayName: availableAccounts
        description: |
          Optional if supported by API provider.


          Only the values "allAccounts" or "allAccountsWithBalances" is admitted.
        type: string
        enum:
        - allAccounts
        - allAccountsWithBalances
      allPsd2:
        required: false
        displayName: allPsd2
        description: |
          Optional if supported by API provider.


          Only the value "allAccounts" is admitted.
        type: string
        enum:
        - allAccounts
  accountDetails:
    displayName: accountDetails
    description: |
      The ASPSP shall give at least one of the account reference identifiers:
        - iban
        - bban
        - pan
        - maskedPan
        - msisdn
      If the account is a multicurrency account currency code in "currency" is set to "XXX".
    type: object
    properties:
      resourceId:
        required: false
        displayName: resourceId
        description: This shall be filled, if addressable resource are created by the ASPSP on the /accounts or /card-accounts endpoint.
        type: string
      iban:
        required: false
        displayName: iban
        description: IBAN of an account
        type: string
        pattern: '[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}'
      bban:
        required: false
        displayName: bban
        description: "Basic Bank Account Number (BBAN) Identifier\n\nThis data element can be used in the body of the Consent Request\n  Message for retrieving Account access Consent from this Account. This\n  data elements is used for payment Accounts which have no IBAN.\n  ISO20022: Basic Bank Account Number (BBAN). \n  \n  Identifier used nationally by financial institutions, i.e., in individual countries, \n  generally as part of a National Account Numbering Scheme(s), \n  which uniquely identifies the account of a customer."
        type: string
        pattern: '[a-zA-Z0-9]{1,30}'
      msisdn:
        required: false
        displayName: msisdn
        description: Mobile phone number.
        type: string
        maxLength: 35
      currency:
        required: true
        displayName: currency
        description: ISO 4217 Alpha 3 currency code
        type: string
        pattern: '[A-Z]{3}'
      name:
        required: false
        displayName: name
        description: Name of the account given by the bank or the PSU in online-banking.
        type: string
        maxLength: 35
      product:
        required: false
        displayName: product
        description: Product name of the bank for this account, proprietary definition.
        type: string
        maxLength: 35
      cashAccountType:
        required: false
        displayName: cashAccountType
        description: ExternalCashAccountType1Code from ISO 20022.
        type: string
      status:
        required: false
        displayName: status
        description: |
          Account status. The value is one of the following:
            - "enabled": account is available
            - "deleted": account is terminated
            - "blocked": account is blocked e.g. for legal reasons
          If this field is not used, than the account is available in the sense of this specification.
        type: string
        enum:
        - enabled
        - deleted
        - blocked
      bic:
        required: false
        displayName: bic
        description: BICFI
        type: string
        pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
      linkedAccounts:
        required: false
        displayName: linkedAccounts
        description: Case of a set of pending card transactions, the APSP will provide the relevant cash account the card is set up on.
        type: string
        maxLength: 70
      usage:
        required: false
        displayName: usage
        description: |
          Specifies the usage of the account
            * PRIV: private personal account
            * ORGA: professional account
        type: string
        enum:
        - PRIV
        - ORGA
      details:
        required: false
        displayName: details
        description: |
          Specifications that might be provided by the ASPSP
            - characteristics of the account
            - characteristics of the relevant card
        type: string
        maxLength: 140
      balances:
        required: false
        displayName: balances
        description: |
          A list of balances regarding this account, e.g. the current balance, the last booked balance.

          The list migght be restricted to the current ballance.
        type: array
        items:
          type: balance
      _links:
        required: false
        displayName: _links
        description: |
          Links to the account, which can be directly used for retrieving account information from this dedicated account.


          Links to "balances" and/or "transactions"


          These links are only supported, when the corresponding consent has been already granted.
        type: _linksAccountDetails
  cardAccountDetails:
    displayName: cardAccountDetails
    description: Card account details
    type: object
    properties:
      resourceId:
        required: false
        displayName: resourceId
        description: |
          This is the data element to be used in the path when retrieving data from a dedicated account.

          This shall be filled, if addressable resource are created by the ASPSP on the /card-accounts endpoint.
        type: string
      maskedPan:
        required: true
        displayName: maskedPan
        description: Masked Primary Account Number
        type: string
        maxLength: 35
      currency:
        required: true
        displayName: currency
        description: ISO 4217 Alpha 3 currency code
        type: string
        pattern: '[A-Z]{3}'
      name:
        required: false
        displayName: name
        description: Name of the account given by the bank or the PSU in online-banking.
        type: string
        maxLength: 35
      product:
        required: false
        displayName: product
        description: Product name of the bank for this account, proprietary definition.
        type: string
        maxLength: 35
      status:
        required: false
        displayName: status
        description: |
          Account status. The value is one of the following:
            - "enabled": account is available
            - "deleted": account is terminated
            - "blocked": account is blocked e.g. for legal reasons
          If this field is not used, than the account is available in the sense of this specification.
        type: string
        enum:
        - enabled
        - deleted
        - blocked
      usage:
        required: false
        displayName: usage
        description: |
          Specifies the usage of the account
            * PRIV: private personal account
            * ORGA: professional account
        type: string
        enum:
        - PRIV
        - ORGA
      details:
        required: false
        displayName: details
        description: |
          Specifications that might be provided by the ASPSP
            - characteristics of the account
            - characteristics of the relevant card
        type: string
        maxLength: 140
      creditLimit:
        required: false
        displayName: creditLimit
        type: amount
      balances:
        required: false
        displayName: balances
        description: |
          A list of balances regarding this account, e.g. the current balance, the last booked balance.

          The list migght be restricted to the current ballance.
        type: array
        items:
          type: balance
      _links:
        required: false
        displayName: _links
        description: |
          Links to the account, which can be directly used for retrieving account information from this dedicated account.


          Links to "balances" and/or "transactions"


          These links are only supported, when the corresponding consent has been already granted.
        type: _linksAccountDetails
  accountList:
    displayName: accountList
    description: List of accounts with details.
    type: object
    properties:
      accounts:
        required: true
        displayName: accounts
        type: array
        items:
          type: accountDetails
  cardAccountList:
    displayName: cardAccountList
    description: List of card accounts with details.
    type: object
    properties:
      cardAccounts:
        required: true
        displayName: cardAccounts
        type: array
        items:
          type: cardAccountDetails
  accountReport:
    displayName: accountReport
    description: |
      JSON based account report.

      This account report contains transactions resulting from the query parameters.


      'booked' shall be contained if bookingStatus parameter is set to "booked" or "both".


      'pending' is not contained if the bookingStatus parameter is set to "booked".
    type: object
    properties:
      booked:
        required: false
        displayName: booked
        description: Array of transaction details
        type: array
        items:
          type: transactionDetails
      pending:
        required: false
        displayName: pending
        description: Array of transaction details
        type: array
        items:
          type: transactionDetails
      _links:
        required: true
        displayName: _links
        type: _linksAccountReport
  cardAccountReport:
    displayName: cardAccountReport
    description: |
      JSON based card account report.


      This card account report contains transactions resulting from the query parameters.
    type: object
    properties:
      booked:
        required: true
        displayName: booked
        description: Array of transaction details
        type: array
        items:
          type: cardTransaction
      pending:
        required: false
        displayName: pending
        description: Array of transaction details
        type: array
        items:
          type: cardTransaction
      _links:
        required: true
        displayName: _links
        type: _linksCardAccountReport
  transactionDetails:
    displayName: transactionDetails
    description: Transaction details
    type: object
    properties:
      transactionId:
        required: false
        displayName: transactionId
        description: "the Transaction Id can be used as access-ID in the API, where more details on an transaction is offered. \nIf this data attribute is provided this shows that the AIS can get access on more details about this \ntransaction using the GET Transaction Details Request"
        type: string
      entryReference:
        required: false
        displayName: entryReference
        description: "Is the identification of the transaction as used e.g. for reference for deltafunction on application level. \nThe same identification as for example used within camt.05x messages."
        type: string
        maxLength: 35
      endToEndId:
        required: false
        displayName: endToEndId
        description: Unique end to end identity.
        type: string
        maxLength: 35
      mandateId:
        required: false
        displayName: mandateId
        description: Identification of Mandates, e.g. a SEPA Mandate ID.
        type: string
        maxLength: 35
      checkId:
        required: false
        displayName: checkId
        description: Identification of a Cheque.
        type: string
        maxLength: 35
      creditorId:
        required: false
        displayName: creditorId
        description: Identification of Creditors, e.g. a SEPA Creditor ID.
        type: string
        maxLength: 35
      bookingDate:
        required: false
        displayName: bookingDate
        description: The Date when an entry is posted to an account on the ASPSPs books.
        type: date-only
      valueDate:
        required: false
        displayName: valueDate
        description: The Date at which assets become available to the account owner in case of a credit.
        type: date-only
      transactionAmount:
        required: true
        displayName: transactionAmount
        type: amount
      currencyExchange:
        required: false
        displayName: currencyExchange
        description: Array of exchange rates
        type: array
        items:
          type: reportExchangeRate
      creditorName:
        required: false
        displayName: creditorName
        description: Creditor Name
        type: string
        maxLength: 70
      creditorAccount:
        required: false
        displayName: creditorAccount
        description: "Reference to an account by either\n  * IBAN, of a payment accounts, or\n  * BBAN, for payment accounts if there is no IBAN, or \n  * the Primary Account Number (PAN) of a card, can be tokenised by the ASPSP due to PCI DSS requirements, or\n  * the Primary Account Number (PAN) of a card in a masked form, or\n  * an alias to access a payment account via a registered mobile phone number (MSISDN)."
        type: accountReference
      ultimateCreditor:
        required: false
        displayName: ultimateCreditor
        description: Ultimate Creditor
        type: string
        maxLength: 70
      debtorName:
        required: false
        displayName: debtorName
        description: Debtor Name
        type: string
        maxLength: 70
      debtorAccount:
        required: false
        displayName: debtorAccount
        description: "Reference to an account by either\n  * IBAN, of a payment accounts, or\n  * BBAN, for payment accounts if there is no IBAN, or \n  * the Primary Account Number (PAN) of a card, can be tokenised by the ASPSP due to PCI DSS requirements, or\n  * the Primary Account Number (PAN) of a card in a masked form, or\n  * an alias to access a payment account via a registered mobile phone number (MSISDN)."
        type: accountReference
      ultimateDebtor:
        required: false
        displayName: ultimateDebtor
        description: Ultimate Debtor
        type: string
        maxLength: 70
      remittanceInformationUnstructured:
        required: false
        displayName: remittanceInformationUnstructured
        description: Unstructured remittance information
        type: string
        maxLength: 140
      remittanceInformationStructured:
        required: false
        displayName: remittanceInformationStructured
        description: |
          Reference as contained in the structured remittance reference structure (without the surrounding XML structure).


          Different from other places the content is containt in plain form not in form of a structered field.
        type: string
        maxLength: 140
      additionalInformation:
        required: false
        displayName: additionalInformation
        description: Might be used by the ASPSP to transport additional transaction related information to the PSU.
        type: string
        maxLength: 512
      purposeCode:
        required: false
        displayName: purposeCode
        description: |
          ExternalPurpose1Code from ISO 20022.


          Values from ISO 20022 External Code List ExternalCodeSets_1Q2018 June 2018.
        type: string
        enum:
        - BKDF
        - BKFE
        - BKFM
        - BKIP
        - BKPP
        - CBLK
        - CDCB
        - CDCD
        - CDCS
        - CDDP
        - CDOC
        - CDQC
        - ETUP
        - FCOL
        - MTUP
        - ACCT
        - CASH
        - COLL
        - CSDB
        - DEPT
        - INTC
        - LIMA
        - NETT
        - BFWD
        - CCIR
        - CCPC
        - CCPM
        - CCSM
        - CRDS
        - CRPR
        - CRSP
        - CRTL
        - EQPT
        - EQUS
        - EXPT
        - EXTD
        - FIXI
        - FWBC
        - FWCC
        - FWSB
        - FWSC
        - MARG
        - MBSB
        - MBSC
        - MGCC
        - MGSC
        - OCCC
        - OPBC
        - OPCC
        - OPSB
        - OPSC
        - OPTN
        - OTCD
        - REPO
        - RPBC
        - RPCC
        - RPSB
        - RPSC
        - RVPO
        - SBSC
        - SCIE
        - SCIR
        - SCRP
        - SHBC
        - SHCC
        - SHSL
        - SLEB
        - SLOA
        - SWBC
        - SWCC
        - SWPT
        - SWSB
        - SWSC
        - TBAS
        - TBBC
        - TBCC
        - TRCP
        - AGRT
        - AREN
        - BEXP
        - BOCE
        - COMC
        - CPYR
        - GDDS
        - GDSV
        - GSCB
        - LICF
        - MP2B
        - POPE
        - ROYA
        - SCVE
        - SERV
        - SUBS
        - SUPP
        - TRAD
        - CHAR
        - COMT
        - MP2P
        - ECPG
        - ECPR
        - ECPU
        - EPAY
        - CLPR
        - COMP
        - DBTC
        - GOVI
        - HLRP
        - HLST
        - INPC
        - INPR
        - INSC
        - INSU
        - INTE
        - LBRI
        - LIFI
        - LOAN
        - LOAR
        - PENO
        - PPTI
        - RELG
        - RINP
        - TRFD
        - FORW
        - FXNT
        - ADMG
        - ADVA
        - BCDM
        - BCFG
        - BLDM
        - BNET
        - CBFF
        - CBFR
        - CCRD
        - CDBL
        - CFEE
        - CGDD
        - CORT
        - COST
        - CPKC
        - DCRD
        - DSMT
        - DVPM
        - EDUC
        - FACT
        - FAND
        - FCPM
        - FEES
        - GOVT
        - ICCP
        - IDCP
        - IHRP
        - INSM
        - IVPT
        - MCDM
        - MCFG
        - MSVC
        - NOWS
        - OCDM
        - OCFG
        - OFEE
        - OTHR
        - PADD
        - PTSP
        - RCKE
        - RCPT
        - REBT
        - REFU
        - RENT
        - REOD
        - RIMB
        - RPNT
        - RRBN
        - RVPM
        - SLPI
        - SPLT
        - STDY
        - TBAN
        - TBIL
        - TCSC
        - TELI
        - TMPG
        - TPRI
        - TPRP
        - TRNC
        - TRVC
        - WEBI
        - ANNI
        - CAFI
        - CFDI
        - CMDT
        - DERI
        - DIVD
        - FREX
        - HEDG
        - INVS
        - PRME
        - SAVG
        - SECU
        - SEPI
        - TREA
        - UNIT
        - FNET
        - FUTR
        - ANTS
        - CVCF
        - DMEQ
        - DNTS
        - HLTC
        - HLTI
        - HSPC
        - ICRF
        - LTCF
        - MAFC
        - MARF
        - MDCS
        - VIEW
        - CDEP
        - SWFP
        - SWPP
        - SWRS
        - SWUF
        - ADCS
        - AEMP
        - ALLW
        - ALMY
        - BBSC
        - BECH
        - BENE
        - BONU
        - CCHD
        - COMM
        - CSLP
        - GFRP
        - GVEA
        - GVEB
        - GVEC
        - GVED
        - GWLT
        - HREC
        - PAYR
        - PEFC
        - PENS
        - PRCP
        - RHBS
        - SALA
        - SSBE
        - LBIN
        - LCOL
        - LFEE
        - LMEQ
        - LMFI
        - LMRK
        - LREB
        - LREV
        - LSFL
        - ESTX
        - FWLV
        - GSTX
        - HSTX
        - INTX
        - NITX
        - PTXP
        - RDTX
        - TAXS
        - VATX
        - WHLD
        - TAXR
        - B112
        - BR12
        - TLRF
        - TLRR
        - AIRB
        - BUSB
        - FERB
        - RLWY
        - TRPT
        - CBTV
        - ELEC
        - ENRG
        - GASB
        - NWCH
        - NWCM
        - OTLC
        - PHON
        - UBIL
        - WTER
      bankTransactionCode:
        required: false
        displayName: bankTransactionCode
        description: "Bank transaction code as used by the ASPSP and using the sub elements of this structured code defined by ISO 20022. \n\nThis code type is concatenating the three ISO20022 Codes \n  * Domain Code, \n  * Family Code, and \n  * SubFamiliy Code \nby hyphens, resulting in �DomainCode�-�FamilyCode�-�SubFamilyCode�."
        type: string
      proprietaryBankTransactionCode:
        required: false
        displayName: proprietaryBankTransactionCode
        description: "Proprietary bank transaction code as used within a community or within an ASPSP e.g. \nfor MT94x based transaction reports."
        type: string
        maxLength: 35
      _links:
        required: false
        displayName: _links
        type: _linksTransactionDetails
  cardTransaction:
    displayName: cardTransaction
    description: Card transaction information
    type: object
    properties:
      cardTransactionId:
        required: false
        displayName: cardTransactionId
        description: Unique end to end identity.
        type: string
        maxLength: 35
      terminalId:
        required: false
        displayName: terminalId
        description: Identification of the Terminal, where the card has been used.
        type: string
        maxLength: 35
      transactionDate:
        required: false
        displayName: transactionDate
        description: Date of the actual card transaction
        type: date-only
      bookingDate:
        required: false
        displayName: bookingDate
        description: The Date when an entry is posted to an account on the ASPSPs books.
        type: date-only
      transactionAmount:
        required: true
        displayName: transactionAmount
        type: amount
      currencyExchange:
        required: false
        displayName: currencyExchange
        description: Array of exchange rates
        type: array
        items:
          type: reportExchangeRate
      originalAmount:
        required: false
        displayName: originalAmount
        type: amount
      markupFee:
        required: false
        displayName: markupFee
        type: amount
      markupFeePercentage:
        required: false
        displayName: markupFeePercentage
        type: string
      cardAcceptorId:
        required: false
        displayName: cardAcceptorId
        type: string
        maxLength: 35
      cardAcceptorAddress:
        required: false
        displayName: cardAcceptorAddress
        type: address
      merchantCategoryCode:
        required: false
        displayName: merchantCategoryCode
        description: Merchant category code
        type: string
        minLength: 4
        maxLength: 4
      maskedPAN:
        required: false
        displayName: maskedPAN
        description: Masked Primary Account Number
        type: string
        maxLength: 35
      transactionDetails:
        required: false
        displayName: transactionDetails
        type: string
        maxLength: 140
      invoiced:
        required: false
        displayName: invoiced
        type: boolean
      proprietaryBankTransactionCode:
        required: false
        displayName: proprietaryBankTransactionCode
        description: "Proprietary bank transaction code as used within a community or within an ASPSP e.g. \nfor MT94x based transaction reports."
        type: string
        maxLength: 35
  reportExchangeRate:
    displayName: reportExchangeRate
    description: Exchange Rate
    type: object
    properties:
      sourceCurrency:
        required: true
        displayName: sourceCurrency
        description: ISO 4217 Alpha 3 currency code
        type: string
        pattern: '[A-Z]{3}'
      exchangeRate:
        required: true
        displayName: exchangeRate
        type: string
      unitCurrency:
        required: true
        displayName: unitCurrency
        type: string
      targetCurrency:
        required: true
        displayName: targetCurrency
        description: ISO 4217 Alpha 3 currency code
        type: string
        pattern: '[A-Z]{3}'
      quotationDate:
        required: true
        displayName: quotationDate
        type: date-only
      contractIdentification:
        required: false
        displayName: contractIdentification
        type: string
  paymentExchangeRate:
    displayName: paymentExchangeRate
    description: Exchange Rate
    type: object
    properties:
      unitCurrency:
        required: false
        displayName: unitCurrency
        type: string
      exchangeRate:
        required: false
        displayName: exchangeRate
        type: string
      contractIdentification:
        required: false
        displayName: contractIdentification
        type: string
      rateType:
        required: false
        displayName: rateType
        type: string
        enum:
        - SPOT
        - SALE
        - AGRD
  balance:
    displayName: balance
    description: A single balance element
    type: object
    properties:
      balanceAmount:
        required: true
        displayName: balanceAmount
        type: amount
      balanceType:
        required: true
        displayName: balanceType
        description: "The following balance types are defined:\n  - \"closingBooked\": \n    Balance of the account at the end of the pre-agreed account reporting period. \n    It is the sum of the opening booked balance at the beginning of the period and all entries booked \n    to the account during the pre-agreed account reporting period.\n    \n    For card-accounts, this is composed of\n    \n      - invoiced, but not yet paid entries\n    \n  - \"expected\":\n    Balance composed of booked entries and pending items known at the time of calculation, \n    which projects the end of day balance if everything is booked on the account and no other entry is posted.\n    \n    For card accounts, this is composed of \n      - invoiced, but not yet paid entries, \n      - not yet invoiced but already booked entries and\n      - pending items (not yet booked)\n    \n  - \"authorised\":\n    The expected balance together with the value of a pre-approved credit line the ASPSP makes permanently available to the user.\n    \n    For card-accounts:\n    \n    \"money to spend with the value of a pre-approved credit limit on the card account\"\n    \n  - \"openingBooked\":\n    Book balance of the account at the beginning of the account reporting period. \n    It always equals the closing book balance from the previous report.\n  - \"interimAvailable\":\n    Available balance calculated in the course of the account ?servicer?s business day, \n    at the time specified, and subject to further changes during the business day. \n    The interim balance is calculated on the basis of booked credit and debit items during the calculation \n    time/period specified.\n    \n    For card-accounts, this is composed of\n      - invoiced, but not yet paid entries, \n      - not yet invoiced but already booked entries\n  - \"forwardAvailable\":\n    Forward available balance of money that is at the disposal of the account owner on the date specified.\n  - \"nonInvoiced\": \n    Only for card accounts, to be checked yet."
        type: string
        enum:
        - closingBooked
        - expected
        - authorised
        - openingBooked
        - interimAvailable
        - interimBooked
        - forwardAvailable
        - nonInvoiced
      lastChangeDateTime:
        required: false
        displayName: lastChangeDateTime
        description: "This data element might be used to indicate e.g. with the expected or booked balance that no action is known \non the account, which is not yet booked."
        type: datetime
      referenceDate:
        required: false
        displayName: referenceDate
        description: Reference date of the balance
        type: date-only
      lastCommittedTransaction:
        required: false
        displayName: lastCommittedTransaction
        description: "\"entryReference\" of the last commited transaction to support the TPP in identifying whether all \nPSU transactions are already known."
        type: string
        maxLength: 35
  address:
    example:
      value:
        street: 'rue blue'
        buildingnNumber: '89'
        city: 'Paris'
        postalCode: '75000'
        country: 'FR'
    displayName: address
    type: object
    properties:
      street:
        required: false
        displayName: street
        type: string
        maxLength: 70
      buildingNumber:
        required: false
        displayName: buildingNumber
        type: string
      city:
        required: false
        displayName: city
        type: string
      postalCode:
        required: false
        displayName: postalCode
        type: string
      country:
        required: true
        displayName: country
        description: ISO 3166 ALPHA2 country code
        type: string
        pattern: '[A-Z]{2}'
  amount:
    example:
      value:
        currency: 'EUR'
        amount: '123'
    displayName: amount
    type: object
    properties:
      currency:
        required: true
        displayName: currency
        description: ISO 4217 Alpha 3 currency code
        type: string
        pattern: '[A-Z]{3}'
      amount:
        required: true
        displayName: amount
        description: |
          The amount given with fractional digits, where fractions must be compliant to the currency definition.

          Up to 14 significant figures. Negative amounts are signed by minus.

          The decimal separator is a dot.


          **Example:**

          Valid representations for EUR with up to two decimals are:

            * 1056
            * 5768.2
            * -1.50
            * 5877.78
        type: string
        pattern: -?[0-9]{1,14}(\.[0-9]{1,3})?
  remittanceInformationStructured:
    displayName: remittanceInformationStructured
    description: Structured remittance information
    type: object
    properties:
      reference:
        required: true
        displayName: reference
        type: string
        maxLength: 35
      referenceType:
        required: false
        displayName: referenceType
        type: string
        maxLength: 35
      referenceIssuer:
        required: false
        displayName: referenceIssuer
        type: string
        maxLength: 35
  psuData:
    displayName: psuData
    description: PSU Data for Update PSU Authentication.
    type: object
    minProperties: 1
    properties:
      password:
        required: false
        displayName: password
        description: Password
        type: string
      encryptedPassword:
        required: false
        displayName: encryptedPassword
        description: Encrypted password.
        type: string
  paymentInitiation_json:
    displayName: paymentInitiation_json
    description: "Generic Body for a payment initation via JSON.\n\nThis generic JSON body can be used to represent valid payment initiations for the following JSON based payment product, \nwhich where defined in the Implementation Guidelines:\n\n  * sepa-credit-transfers\n  * instant-sepa-credit-transfers\n  * target-2-payments\n  * cross-border-credit-transfers\n\nFor the convenience of the implementer additional which are already predefinded in the Implementation Guidelines \nare included (but commented in source code), such that an ASPSP may add them easily.\n\nTake care: Since the format is intended to fit for all payment products \nthere are additional conditions which are NOT covered by this specification.\nPlease check the Implementation Guidelines for detailes.\n\n\nThe following data element are depending on the actual payment product available (in source code):\n          \n <table style=\"width:100%\">\n <tr><th>Data Element</th><th>SCT EU Core</th><th>SCT INST EU Core</th><th>Target2 Paym. Core</th><th>Cross Border CT Core</th></tr>\n <tr><td>endToEndIdentification</td><td> optional</td> <td>optional</td> <td>optional</td> <td>n.a.</td> </tr>\n <tr><td>debtorAccount</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> </tr>\n <tr><td>debtorId</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>ultimateDebtor</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>instructedAmount</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> </tr>\n <tr><td>transactionCurrency</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>exchangeRateInformation</td> <td>n.a.</td> <td>n.a.</td><td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>creditorAccount</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> </tr>\n <tr><td>creditorAgent</td> <td>optional</td> <td>optional</td> <td>optional</td> <td>conditional </td> </tr>\n <tr><td>creditorAgentName</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>creditorName</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> </tr>\n <tr><td>creditorId</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>creditorAddress</td>optional</td> <td>optional</td> <td>optional</td> <td>conditional </td> </tr>\n <tr><td>creditorNameAndAddress</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>ultimateCreditor</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>purposeCode</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>chargeBearer</td> <td>n.a.</td> <td>n.a.</td> <td>optional</td> <td>conditional </td> </tr>\n <tr><td>remittanceInformationUnstructured</td> <td>optional</td> <td>optional</td> <td> optional</td> <td>optional</td> </tr>\n <tr><td>remittanceInformationUnstructuredArray</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>remittanceInformationStructured</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>requestedExecutionDate</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>requestedExecutionTime</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n    </td></tr>\n  </table>\n  \nIMPORTANT: In this API definition the following holds:\n  *  All data elements mentioned above are defined, but some of them are commented, \n    i.e. they are only visible in the source code and can be used by uncommenting them.\n  * Data elements which are mandatory in the table above for all payment products \n    are set to be mandatory in this specification.\n  * Data elements which are indicated in the table above as n.a. for all payment products are commented in the source code.\n  * Data elements which are indicated to be option, conditional or mandatory for at least one payment product \n    in the table above are set to be optional in the s specification except the case where all are definde to be mandatory. \n  * Data element which are inticated to be n.a. can be used by the ASPS if needed. \n    In this case uncomment tthe the relatetd lines in the source code.\n  * If one uses this data types for some payment products he has to ensure that the used data type is \n    valid according to the underlying payment product, e.g. by some appropriate validations."
    type: object
    properties:
      endToEndIdentification:
        required: false
        displayName: endToEndIdentification
        type: string
        maxLength: 35
      debtorAccount:
        required: true
        displayName: debtorAccount
        description: "Reference to an account by either\n  * IBAN, of a payment accounts, or\n  * BBAN, for payment accounts if there is no IBAN, or \n  * the Primary Account Number (PAN) of a card, can be tokenised by the ASPSP due to PCI DSS requirements, or\n  * the Primary Account Number (PAN) of a card in a masked form, or\n  * an alias to access a payment account via a registered mobile phone number (MSISDN)."
        type: accountReference
      instructedAmount:
        required: true
        displayName: instructedAmount
        type: amount
      creditorAccount:
        required: true
        displayName: creditorAccount
        description: "Reference to an account by either\n  * IBAN, of a payment accounts, or\n  * BBAN, for payment accounts if there is no IBAN, or \n  * the Primary Account Number (PAN) of a card, can be tokenised by the ASPSP due to PCI DSS requirements, or\n  * the Primary Account Number (PAN) of a card in a masked form, or\n  * an alias to access a payment account via a registered mobile phone number (MSISDN)."
        type: accountReference
      creditorAgent:
        required: false
        displayName: creditorAgent
        description: BICFI
        type: string
        pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
      creditorAgentName:
        required: false
        displayName: creditorAgentName
        description: Creditor Agent Name
        type: string
        maxLength: 70
      creditorName:
        required: true
        displayName: creditorName
        description: Creditor Name
        type: string
        maxLength: 70
      creditorAddress:
        required: false
        displayName: creditorAddress
        type: address
      remittanceInformationUnstructured:
        required: false
        displayName: remittanceInformationUnstructured
        description: Unstructured remittance information
        type: string
        maxLength: 140
  paymentInitiationBulkElement_json:
    displayName: paymentInitiationBulkElement_json
    description: "Generic body for a bulk payment initation entry.\n\nThe bulk entry type is a type which follows the JSON formats for the supported products for single payments\nexcluding the data elements (if supported):\n  * debtorAccount\n  * requestedExecutionDate,\n  * requestedExecutionTime.\nThese data elements may not be contained in any bulk entry.\n\nThis data object can be used to represent valid bulk payment initiations entry for the following JSON based payment product, \nwhich where defined in the Implementation Guidelines:\n\n  * sepa-credit-transfers\n  * instant-sepa-credit-transfers\n  * target-2-payments\n  * cross-border-credit-transfers\n\nFor the convenience of the implementer additional which are already predefinded in the Implementation Guidelines \nare included (but commented in source code), such that an ASPSP may add them easily.\n\nTake care: Since the format is intended to fit for all payment products \nthere are additional conditions which are NOT covered by this specification.\nPlease check the Implementation Guidelines for detailes.\n\n\nThe following data element are depending on the actual payment product available (in source code):\n          \n <table style=\"width:100%\">\n <tr><th>Data Element</th><th>SCT EU Core</th><th>SCT INST EU Core</th><th>Target2 Paym. Core</th><th>Cross Border CT Core</th></tr>\n <tr><td>endToEndIdentification</td><td> optional</td> <td>optional</td> <td>optional</td> <td>n.a.</td> </tr>\n <tr><td>debtorId</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>ultimateDebtor</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>instructedAmount</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> </tr>\n <tr><td>transactionCurrency</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>exchangeRateInformation</td> <td>n.a.</td> <td>n.a.</td><td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>creditorAccount</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> </tr>\n <tr><td>creditorAgent</td> <td>optional</td> <td>optional</td> <td>optional</td> <td>conditional </td> </tr>\n <tr><td>creditorAgentName</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>creditorName</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> </tr>\n <tr><td>creditorId</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>creditorAddress</td>optional</td> <td>optional</td> <td>optional</td> <td>conditional </td> </tr>\n <tr><td>creditorNameAndAddress</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>ultimateCreditor</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>purposeCode</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>chargeBearer</td> <td>n.a.</td> <td>n.a.</td> <td>optional</td> <td>conditional </td> </tr>\n <tr><td>remittanceInformationUnstructured</td> <td>optional</td> <td>optional</td> <td> optional</td> <td>optional</td> </tr>\n <tr><td>remittanceInformationUnstructuredArray</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>remittanceInformationStructured</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n    </td></tr>\n  </table>\n  \nIMPORTANT: In this API definition the following holds:\n  *  All data elements mentioned above are defined, but some of them are commented, \n    i.e. they are only visible in the source code and can be used by uncommenting them.\n  * Data elements which are mandatory in the table above for all payment products \n    are set to be mandatory in this specification.\n  * Data elements which are indicated in the table above as n.a. for all payment products are commented in the source code.\n  * Data elements which are indicated to be option, conditional or mandatory for at least one payment product \n    in the table above are set to be optional in the s specification except the case where all are definde to be mandatory. \n  * Data element which are inticated to be n.a. can be used by the ASPS if needed. \n    In this case uncomment tthe the relatetd lines in the source code.\n  * If one uses this data types for some payment products he has to ensure that the used data type is \n    valid according to the underlying payment product, e.g. by some appropriate validations."
    type: object
    properties:
      endToEndIdentification:
        required: false
        displayName: endToEndIdentification
        type: string
        maxLength: 35
      instructedAmount:
        required: true
        displayName: instructedAmount
        type: amount
      creditorAccount:
        required: true
        displayName: creditorAccount
        description: "Reference to an account by either\n  * IBAN, of a payment accounts, or\n  * BBAN, for payment accounts if there is no IBAN, or \n  * the Primary Account Number (PAN) of a card, can be tokenised by the ASPSP due to PCI DSS requirements, or\n  * the Primary Account Number (PAN) of a card in a masked form, or\n  * an alias to access a payment account via a registered mobile phone number (MSISDN)."
        type: accountReference
      creditorAgent:
        required: false
        displayName: creditorAgent
        description: BICFI
        type: string
        pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
      creditorAgentName:
        required: false
        displayName: creditorAgentName
        description: Creditor Agent Name
        type: string
        maxLength: 70
      creditorName:
        required: true
        displayName: creditorName
        description: Creditor Name
        type: string
        maxLength: 70
      creditorAddress:
        required: false
        displayName: creditorAddress
        type: address
      remittanceInformationUnstructured:
        required: false
        displayName: remittanceInformationUnstructured
        description: Unstructured remittance information
        type: string
        maxLength: 140
  periodicPaymentInitiation_json:
    displayName: periodicPaymentInitiation_json
    description: "Generic Body for a periodic payment initation via JSON.\n\nThis generic JSON body can be used to represent valid periodic payment initiations for the following JSON based payment product, \nwhich where defined in the Implementation Guidelines:\n\n  * sepa-credit-transfers\n  * instant-sepa-credit-transfers\n  * target-2-payments\n  * cross-border-credit-transfers\n\nFor the convenience of the implementer additional which are already predefinded in the Implementation Guidelines \nare included (but commented in source code), such that an ASPSP may add them easily.\n\nTake care: Since the format is intended to fit for all payment products \nthere are additional conditions which are NOT covered by this specification.\nPlease check the Implementation Guidelines for detailes.\n\n\nThe following data element are depending on the actual payment product available (in source code):\n          \n <table style=\"width:100%\">\n <tr><th>Data Element</th><th>SCT EU Core</th><th>SCT INST EU Core</th><th>Target2 Paym. Core</th><th>Cross Border CT Core</th></tr>\n <tr><td>endToEndIdentification</td><td> optional</td> <td>optional</td> <td>optional</td> <td>n.a.</td> </tr>\n <tr><td>debtorAccount</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> </tr>\n <tr><td>debtorId</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>ultimateDebtor</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>instructedAmount</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> </tr>\n <tr><td>transactionCurrency</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>exchangeRateInformation</td> <td>n.a.</td> <td>n.a.</td><td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>creditorAccount</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> </tr>\n <tr><td>creditorAgent</td> <td>optional</td> <td>optional</td> <td>optional</td> <td>conditional </td> </tr>\n <tr><td>creditorAgentName</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>creditorName</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> </tr>\n <tr><td>creditorId</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>creditorAddress</td>optional</td> <td>optional</td> <td>optional</td> <td>conditional </td> </tr>\n <tr><td>creditorNameAndAddress</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>ultimateCreditor</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>purposeCode</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>chargeBearer</td> <td>n.a.</td> <td>n.a.</td> <td>optional</td> <td>conditional </td> </tr>\n <tr><td>remittanceInformationUnstructured</td> <td>optional</td> <td>optional</td> <td> optional</td> <td>optional</td> </tr>\n <tr><td>remittanceInformationUnstructuredArray</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>remittanceInformationStructured</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>requestedExecutionDate</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>requestedExecutionTime</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> <td>n.a.</td> </tr>\n <tr><td>startDate</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> </tr>\n <tr><td>executionRule</td> <td>optional</td> <td>optional</td> <td>optional</td> <td>optional</td> </tr>\n <tr><td>endDate</td> <td>optional</td> <td>optional</td> <td>optional</td> <td>optional</td> </tr>\n <tr><td>frequency</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> <td>mandatory</td> </tr>\n <tr><td>dayOfExecution</td> <td>conditional</td> <td>conditional</td> <td>conditional</td> <td>conditional</td> </tr>\n    </td></tr>\n  </table>\n  \nIMPORTANT: In this API definition the following holds:\n  *  All data elements mentioned above are defined, but some of them are commented, \n    i.e. they are only visible in the source code and can be used by uncommenting them.\n  * Data elements which are mandatory in the table above for all payment products \n    are set to be mandatory in this specification.\n  * Data elements which are indicated in the table above as n.a. for all payment products are commented in the source code.\n  * Data elements which are indicated to be option, conditional or mandatory for at least one payment product \n    in the table above are set to be optional in the s specification except the case where all are definde to be mandatory. \n  * Data element which are inticated to be n.a. can be used by the ASPS if needed. \n    In this case uncomment tthe the relatetd lines in the source code.\n  * If one uses this data types for some payment products he has to ensure that the used data type is \n    valid according to the underlying payment product, e.g. by some appropriate validations."
    type: object
    properties:
      endToEndIdentification:
        required: false
        displayName: endToEndIdentification
        type: string
        maxLength: 35
      debtorAccount:
        required: true
        displayName: debtorAccount
        description: "Reference to an account by either\n  * IBAN, of a payment accounts, or\n  * BBAN, for payment accounts if there is no IBAN, or \n  * the Primary Account Number (PAN) of a card, can be tokenised by the ASPSP due to PCI DSS requirements, or\n  * the Primary Account Number (PAN) of a card in a masked form, or\n  * an alias to access a payment account via a registered mobile phone number (MSISDN)."
        type: accountReference
      instructedAmount:
        required: true
        displayName: instructedAmount
        type: amount
      creditorAccount:
        required: true
        displayName: creditorAccount
        description: "Reference to an account by either\n  * IBAN, of a payment accounts, or\n  * BBAN, for payment accounts if there is no IBAN, or \n  * the Primary Account Number (PAN) of a card, can be tokenised by the ASPSP due to PCI DSS requirements, or\n  * the Primary Account Number (PAN) of a card in a masked form, or\n  * an alias to access a payment account via a registered mobile phone number (MSISDN)."
        type: accountReference
      creditorAgent:
        required: false
        displayName: creditorAgent
        description: BICFI
        type: string
        pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
      creditorName:
        required: true
        displayName: creditorName
        description: Creditor Name
        type: string
        maxLength: 70
      creditorAddress:
        required: false
        displayName: creditorAddress
        type: address
      remittanceInformationUnstructured:
        required: false
        displayName: remittanceInformationUnstructured
        description: Unstructured remittance information
        type: string
        maxLength: 140
      startDate:
        required: true
        displayName: startDate
        description: The first applicable day of execution starting from this date is the first payment.
        type: date-only
      endDate:
        required: false
        displayName: endDate
        description: |
          The last applicable day of execution

          If not given, it is an infinite standing order.
        type: date-only
      executionRule:
        required: false
        displayName: executionRule
        description: "\"following\" or \"preceding\" supported as values. \nThis data attribute defines the behaviour when recurring payment dates falls on a weekend or bank holiday. \nThe payment is then executed either the \"preceding\" or \"following\" working day.\nASPSP might reject the request due to the communicated value, if rules in Online-Banking are not supporting \nthis execution rule."
        type: string
        enum:
        - following
        - preceding
      frequency:
        required: true
        displayName: frequency
        description: |
          The following codes from the "EventFrequency7Code" of ISO 20022 are supported.

          - "Daily"

          - "Weekly"

          - "EveryTwoWeeks"

          - "Monthly"

          - "EveryTwoMonths"

          - "Quarterly"

          - "SemiAnnual"

          - "Annual"
        type: string
        enum:
        - Daily
        - Weekly
        - EveryTwoWeeks
        - Monthly
        - EveryTwoMonths
        - Quarterly
        - SemiAnnual
        - Annual
      dayOfExecution:
        required: false
        displayName: dayOfExecution
        description: |
          Day of execution as string.


          This string consists of up two characters.

          Leading zeroes are not allowed.


          31 is ultimo of the month.
        type: integer
        format: int32
        enum:
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
        - 8
        - 9
        - 10
        - 11
        - 12
        - 13
        - 14
        - 15
        - 16
        - 17
        - 18
        - 19
        - 20
        - 21
        - 22
        - 23
        - 24
        - 25
        - 26
        - 27
        - 28
        - 29
        - 30
        - 31
  bulkPaymentInitiation_json:
    displayName: bulkPaymentInitiation_json
    description: "Generic Body for a bulk payment initation via JSON.\n\npaymentInformationId is contained in code but commented since it is n.a. \nand not all ASPSP are able to support this field now.\nIn a later version the field will be mandatory."
    type: object
    properties:
      batchBookingPreferred:
        required: false
        displayName: batchBookingPreferred
        description: "If this element equals 'true', the PSU prefers only one booking entry. \nIf this element equals 'false', the PSU prefers individual booking of all contained individual transactions. \n\nThe ASPSP will follow this preference according to contracts agreed on with the PSU."
        type: boolean
      debtorAccount:
        required: true
        displayName: debtorAccount
        description: "Reference to an account by either\n  * IBAN, of a payment accounts, or\n  * BBAN, for payment accounts if there is no IBAN, or \n  * the Primary Account Number (PAN) of a card, can be tokenised by the ASPSP due to PCI DSS requirements, or\n  * the Primary Account Number (PAN) of a card in a masked form, or\n  * an alias to access a payment account via a registered mobile phone number (MSISDN)."
        type: accountReference
      requestedExecutionDate:
        required: false
        displayName: requestedExecutionDate
        type: date-only
      requestedExecutionTime:
        required: false
        displayName: requestedExecutionTime
        type: datetime
      payments:
        required: true
        displayName: payments
        description: |
          A list of generic JSON bodies payment initations for bulk payments via JSON.


          Note: Some fields from single payments do not occcur in a bulk payment element
        type: array
        items:
          type: paymentInitiationBulkElement_json
  confirmationOfFunds:
    displayName: confirmationOfFunds
    description: "JSON Request body for the \"Confirmation of Funds Service\"\n\n<table> \n<tr> \n  <td>cardNumber</td> \n  <td>String </td>\n  <td>Optional</td>\n  <td>Card Number of the card issued by the PIISP. Should be delivered if available.</td>\n</tr> \n<tr>\n  <td>account</td>\n  <td> Account Reference</td>\n  <td>Mandatory</td>\n  <td>PSU's account number.</td>\n</tr> \n<tr> \n  <td>payee</td>\n  <td>Max70Text</td>\n  <td>Optional</td>\n  <td>The merchant where the card is accepted as an information to the PSU.</td>\n</tr> \n<tr>\n  <td>instructedAmount</td>\n  <td>Amount</td>\n  <td>Mandatory</td>\n  <td>Transaction amount to be checked within the funds check mechanism.</td>\n</tr> \n</table>"
    type: object
    properties:
      cardNumber:
        required: false
        displayName: cardNumber
        description: "Card Number of the card issued by the PIISP. \nShould be delivered if available."
        type: string
        maxLength: 35
      account:
        required: true
        displayName: account
        description: "Reference to an account by either\n  * IBAN, of a payment accounts, or\n  * BBAN, for payment accounts if there is no IBAN, or \n  * the Primary Account Number (PAN) of a card, can be tokenised by the ASPSP due to PCI DSS requirements, or\n  * the Primary Account Number (PAN) of a card in a masked form, or\n  * an alias to access a payment account via a registered mobile phone number (MSISDN)."
        type: accountReference
      payee:
        required: false
        displayName: payee
        description: Name payee
        type: string
        maxLength: 70
      instructedAmount:
        required: true
        displayName: instructedAmount
        type: amount
  consents:
    displayName: consents
    description: Content of the body of a consent request.
    type: object
    properties:
      access:
        required: true
        displayName: access
        description: Requested access services for a consent.
        type: accountAccess
      recurringIndicator:
        required: true
        displayName: recurringIndicator
        description: |
          "true", if the consent is for recurring access to the account data.


          "false", if the consent is for one access to the account data.
        type: boolean
      validUntil:
        required: true
        displayName: validUntil
        description: "This parameter is requesting a valid until date for the requested consent. \nThe content is the local ASPSP date in ISO-Date Format, e.g. 2017-10-30. \n\nFuture dates might get adjusted by ASPSP. \n\nIf a maximal available date is requested, a date in far future is to be used: \"9999-12-31\". \n\nIn both cases the consent object to be retrieved by the GET Consent Request will contain the adjusted date."
        type: date-only
      frequencyPerDay:
        required: true
        displayName: frequencyPerDay
        description: "This field indicates the requested maximum frequency for an access without PSU involvement per day.\nFor a one-off access, this attribute is set to \"1\".\n\nThe frequency needs to be greater equal to one. \n\nIf not otherwise agreed bilaterally between TPP and ASPSP, the frequency is less equal to 4."
        type: integer
        minimum: 1
        format: int32
      combinedServiceIndicator:
        required: true
        displayName: combinedServiceIndicator
        description: If "true" indicates that a payment initiation service will be addressed in the same "session".
        type: boolean
  updatePsuAuthentication:
    displayName: updatePsuAuthentication
    description: |
      Content of the body of a Update PSU Authentication Request


      Password subfield is used.
    type: object
    properties:
      psuData:
        required: true
        displayName: psuData
        description: PSU Data for Update PSU Authentication.
        type: psuData
  selectPsuAuthenticationMethod:
    displayName: selectPsuAuthenticationMethod
    description: Content of the body of a Select PSU Authentication Method Request
    type: object
    properties:
      authenticationMethodId:
        required: true
        displayName: authenticationMethodId
        description: An identification provided by the ASPSP for the later identification of the authentication method selection.
        type: string
        maxLength: 35
  transactionAuthorisation:
    displayName: transactionAuthorisation
    description: Content of the body of a Transaction Authorisation Request
    type: object
    properties:
      scaAuthenticationData:
        required: true
        displayName: scaAuthenticationData
        description: "SCA authentication data, depending on the chosen authentication method. \nIf the data is binary, then it is base64 encoded."
        type: string
  periodicPaymentInitiationMultipartBody:
    displayName: periodicPaymentInitiationMultipartBody
    description: "The multipart message definition for the initiation of a periodic payment initiation \nwhere the information of the payment is contained in an pain.001 message (Part 1) and \nthe additional informations related to the periodic payment is an additional JSON message (Part 2)."
    type: object
    properties:
      xml_sct:
        required: false
        displayName: xml_sct
        type: object
      json_standingorderType:
        required: false
        displayName: json_standingorderType
        description: "The body part 2 of a periodic payment initation request containes the execution related informations \nof the periodic payment."
        type: periodicPaymentInitiation_xml-Part2-standingorderType_json
  periodicPaymentInitiation_xml-Part2-standingorderType_json:
    displayName: periodicPaymentInitiation_xml-Part2-standingorderType_json
    description: "The body part 2 of a periodic payment initation request containes the execution related informations \nof the periodic payment."
    type: object
    properties:
      startDate:
        required: true
        displayName: startDate
        description: The first applicable day of execution starting from this date is the first payment.
        type: date-only
      endDate:
        required: false
        displayName: endDate
        description: |
          The last applicable day of execution

          If not given, it is an infinite standing order.
        type: date-only
      executionRule:
        required: false
        displayName: executionRule
        description: "\"following\" or \"preceding\" supported as values. \nThis data attribute defines the behaviour when recurring payment dates falls on a weekend or bank holiday. \nThe payment is then executed either the \"preceding\" or \"following\" working day.\nASPSP might reject the request due to the communicated value, if rules in Online-Banking are not supporting \nthis execution rule."
        type: string
        enum:
        - following
        - preceding
      frequency:
        required: true
        displayName: frequency
        description: |
          The following codes from the "EventFrequency7Code" of ISO 20022 are supported.

          - "Daily"

          - "Weekly"

          - "EveryTwoWeeks"

          - "Monthly"

          - "EveryTwoMonths"

          - "Quarterly"

          - "SemiAnnual"

          - "Annual"
        type: string
        enum:
        - Daily
        - Weekly
        - EveryTwoWeeks
        - Monthly
        - EveryTwoMonths
        - Quarterly
        - SemiAnnual
        - Annual
      dayOfExecution:
        required: false
        displayName: dayOfExecution
        description: |
          Day of execution as string.


          This string consists of up two characters.

          Leading zeroes are not allowed.


          31 is ultimo of the month.
        type: integer
        format: int32
        enum:
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
        - 8
        - 9
        - 10
        - 11
        - 12
        - 13
        - 14
        - 15
        - 16
        - 17
        - 18
        - 19
        - 20
        - 21
        - 22
        - 23
        - 24
        - 25
        - 26
        - 27
        - 28
        - 29
        - 30
        - 31
  paymentInitiationStatusResponse-200_json:
    displayName: paymentInitiationStatusResponse-200_json
    description: Body of the response for a successful payment initiation status request in case of an JSON based endpoint.
    type: object
    properties:
      transactionStatus:
        required: true
        displayName: transactionStatus
        description: "The transaction status is filled with codes of the ISO 20022 data table:\n- 'ACCC': 'AcceptedSettlementCompleted' -\n  Settlement on the creditor's account has been completed.\n- 'ACCP': 'AcceptedCustomerProfile' - \n  Preceding check of technical validation was successful. \n  Customer profile check was also successful.\n- 'ACSC': 'AcceptedSettlementCompleted' - \n  Settlement on the debtor�s account has been completed.\n  \n  **Usage:** this can be used by the first agent to report to the debtor that the transaction has been completed. \n  \n  **Warning:** this status is provided for transaction status reasons, not for financial information. \n  It can only be used after bilateral agreement.\n- 'ACSP': 'AcceptedSettlementInProcess' - \n  All preceding checks such as technical validation and customer profile were successful and therefore the payment initiation has been accepted for execution.\n- 'ACTC': 'AcceptedTechnicalValidation' - \n  Authentication and syntactical and semantical validation are successful.\n- 'ACWC': 'AcceptedWithChange' - \n  Instruction is accepted but a change will be made, such as date or remittance not sent.\n- 'ACWP': 'AcceptedWithoutPosting' - \n  Payment instruction included in the credit transfer is accepted without being posted to the creditor customer�s account.\n- 'RCVD': 'Received' - \n  Payment initiation has been received by the receiving agent.\n- 'PDNG': 'Pending' - \n  Payment initiation or individual transaction included in the payment initiation is pending. \n  Further checks and status update will be performed.\n- 'RJCT': 'Rejected' - \n  Payment initiation or individual transaction included in the payment initiation has been rejected.\n- 'CANC': 'Cancelled'\n  Payment initiation has been cancelled before execution\n  Remark: This codeis accepted as new code by ISO20022.\n- 'ACFC': 'AcceptedFundsChecked' -\n  Preceding check of technical validation and customer profile was successful and an automatic funds check was positive .\n  Remark: This code is accepted as new code by ISO20022.\n- 'PATC': 'PartiallyAcceptedTechnical'\n  Correct The payment initiation needs multiple authentications, where some but not yet all have been performed. Syntactical and semantical validations are successful.\n  Remark: This code is accepted as new code by ISO20022.\n- 'PART': 'PartiallyAccepted' -\n  A number of transactions have been accepted, whereas another number of transactions have not yet achieved 'accepted' status.\n  Remark: This code may be used only in case of bulk payments. It is only used in a situation where all mandated authorisations have been applied, but some payments have been rejected."
        type: string
        enum:
        - ACCC
        - ACCP
        - ACSC
        - ACSP
        - ACTC
        - ACWC
        - ACWP
        - RCVD
        - PDNG
        - RJCT
        - CANC
        - ACFC
        - PATC
        - PART
  paymentInitationRequestResponse-201:
    displayName: paymentInitationRequestResponse-201
    description: Body of the response for a successful payment initiation request.
    type: object
    properties:
      transactionStatus:
        required: true
        displayName: transactionStatus
        description: "The transaction status is filled with codes of the ISO 20022 data table:\n- 'ACCC': 'AcceptedSettlementCompleted' -\n  Settlement on the creditor's account has been completed.\n- 'ACCP': 'AcceptedCustomerProfile' - \n  Preceding check of technical validation was successful. \n  Customer profile check was also successful.\n- 'ACSC': 'AcceptedSettlementCompleted' - \n  Settlement on the debtor�s account has been completed.\n  \n  **Usage:** this can be used by the first agent to report to the debtor that the transaction has been completed. \n  \n  **Warning:** this status is provided for transaction status reasons, not for financial information. \n  It can only be used after bilateral agreement.\n- 'ACSP': 'AcceptedSettlementInProcess' - \n  All preceding checks such as technical validation and customer profile were successful and therefore the payment initiation has been accepted for execution.\n- 'ACTC': 'AcceptedTechnicalValidation' - \n  Authentication and syntactical and semantical validation are successful.\n- 'ACWC': 'AcceptedWithChange' - \n  Instruction is accepted but a change will be made, such as date or remittance not sent.\n- 'ACWP': 'AcceptedWithoutPosting' - \n  Payment instruction included in the credit transfer is accepted without being posted to the creditor customer�s account.\n- 'RCVD': 'Received' - \n  Payment initiation has been received by the receiving agent.\n- 'PDNG': 'Pending' - \n  Payment initiation or individual transaction included in the payment initiation is pending. \n  Further checks and status update will be performed.\n- 'RJCT': 'Rejected' - \n  Payment initiation or individual transaction included in the payment initiation has been rejected.\n- 'CANC': 'Cancelled'\n  Payment initiation has been cancelled before execution\n  Remark: This codeis accepted as new code by ISO20022.\n- 'ACFC': 'AcceptedFundsChecked' -\n  Preceding check of technical validation and customer profile was successful and an automatic funds check was positive .\n  Remark: This code is accepted as new code by ISO20022.\n- 'PATC': 'PartiallyAcceptedTechnical'\n  Correct The payment initiation needs multiple authentications, where some but not yet all have been performed. Syntactical and semantical validations are successful.\n  Remark: This code is accepted as new code by ISO20022.\n- 'PART': 'PartiallyAccepted' -\n  A number of transactions have been accepted, whereas another number of transactions have not yet achieved 'accepted' status.\n  Remark: This code may be used only in case of bulk payments. It is only used in a situation where all mandated authorisations have been applied, but some payments have been rejected."
        type: string
        enum:
        - ACCC
        - ACCP
        - ACSC
        - ACSP
        - ACTC
        - ACWC
        - ACWP
        - RCVD
        - PDNG
        - RJCT
        - CANC
        - ACFC
        - PATC
        - PART
      paymentId:
        required: true
        displayName: paymentId
        description: Resource identification of the generated payment initiation resource.
        type: string
      transactionFees:
        required: false
        displayName: transactionFees
        type: amount
      transactionFeeIndicator:
        required: false
        displayName: transactionFeeIndicator
        description: |
          If equals 'true', the transaction will involve specific transaction cost as shown by the ASPSP in

          their public price list or as agreed between ASPSP and PSU.

          If equals 'false', the transaction will not involve additional specific transaction costs to the PSU.
        type: boolean
      scaMethods:
        required: false
        displayName: scaMethods
        description: |
          This data element might be contained, if SCA is required and if the PSU has a choice between different

          authentication methods.


          Depending on the risk management of the ASPSP this choice might be offered before or after the PSU

          has been identified with the first relevant factor, or if an access token is transported.


          If this data element is contained, then there is also an hyperlink of type 'startAuthorisationWithAuthenticationMethodSelection'

          contained in the response body.


          These methods shall be presented towards the PSU for selection by the TPP.
        type: array
        items:
          type: authenticationObject
      chosenScaMethod:
        required: false
        displayName: chosenScaMethod
        description: Authentication Object
        type: authenticationObject
      challengeData:
        required: false
        displayName: challengeData
        description: |
          It is contained in addition to the data element 'chosenScaMethod' if challenge data is needed for SCA.

          In rare cases this attribute is also used in the context of the 'startAuthorisationWithPsuAuthentication' link.
        type: challengeData
      _links:
        required: true
        displayName: _links
        description: "A list of hyperlinks to be recognised by the TPP.\nThe actual hyperlinks used in the response depend on the dynamical decisions of the ASPSP when\nprocessing the request.\n\n**Remark:** All links can be relative or full links, to be decided by the ASPSP.\n\nType of links admitted in this response, (further links might be added for ASPSP defined extensions):\n\n* 'scaRedirect': \n  In case of an SCA Redirect Approach, the ASPSP is transmitting the link to which to redirect the PSU browser.\n* 'scaOAuth': \n  In case of a SCA OAuth2 Approach, the ASPSP is transmitting the URI where the configuration of the Authorisation\n  Server can be retrieved. The configuration follows the OAuth 2.0 Authorisation Server Metadata specification.\n* 'startAuthorisation': \n  In case, where an explicit start of the transaction authorisation is needed, but no more data needs to be updated \n  (no authentication method to be selected, no PSU identification nor PSU authentication data to be uploaded).\n* 'startAuthorisationWithPsuIdentification': \n  The link to the authorisation end-point, where the authorisation sub-resource has to be generated while \n  uploading the PSU identification data.\n* 'startAuthorisationWithPsuAuthentication': \n  The link to the authorisation end-point, where the authorisation sub-resource has to be generated while \n  uploading the PSU authentication data.\n  * 'startAuthorisationWithEncryptedPsuAuthentication':\n    Same as startAuthorisactionWithPsuAuthentication where the authentication data need to be encrypted on \n    application layer in uploading.\n* 'startAuthorisationWithAuthenticationMethodSelection': \n  The link to the authorisation end-point, where the authorisation sub-resource has to be generated while \n  selecting the authentication method. \n  This link is contained under exactly the same conditions as the data element \"scaMethods\"\n* 'startAuthorisationWithTransactionAuthorisation':\n  The link to the authorisation end-point, where the authorisation sub-resource has to be generated while \n  authorising the transaction e.g. by uploading an OTP received by SMS.\n* 'self': \n  The link to the payment initiation resource created by this request.\n  This link can be used to retrieve the resource data.\n* 'status': \n  The link to retrieve the transaction status of the payment initiation.\n* 'scaStatus': \n  The link to retrieve the scaStatus of the corresponding authorisation sub-resource. \n  This link is only contained, if an authorisation sub-resource has been already created."
        type: _linksPaymentInitiation
      psuMessage:
        required: false
        displayName: psuMessage
        description: Text to be displayed to the PSU
        type: string
        maxLength: 512
      tppMessages:
        required: false
        displayName: tppMessages
        type: array
        items:
          type: tppMessage2XX
  paymentInitiationCancelResponse-202:
    displayName: paymentInitiationCancelResponse-202
    description: Body of the response for a successful cancel payment request.
    type: object
    properties:
      transactionStatus:
        required: true
        displayName: transactionStatus
        description: "The transaction status is filled with codes of the ISO 20022 data table:\n- 'ACCC': 'AcceptedSettlementCompleted' -\n  Settlement on the creditor's account has been completed.\n- 'ACCP': 'AcceptedCustomerProfile' - \n  Preceding check of technical validation was successful. \n  Customer profile check was also successful.\n- 'ACSC': 'AcceptedSettlementCompleted' - \n  Settlement on the debtor�s account has been completed.\n  \n  **Usage:** this can be used by the first agent to report to the debtor that the transaction has been completed. \n  \n  **Warning:** this status is provided for transaction status reasons, not for financial information. \n  It can only be used after bilateral agreement.\n- 'ACSP': 'AcceptedSettlementInProcess' - \n  All preceding checks such as technical validation and customer profile were successful and therefore the payment initiation has been accepted for execution.\n- 'ACTC': 'AcceptedTechnicalValidation' - \n  Authentication and syntactical and semantical validation are successful.\n- 'ACWC': 'AcceptedWithChange' - \n  Instruction is accepted but a change will be made, such as date or remittance not sent.\n- 'ACWP': 'AcceptedWithoutPosting' - \n  Payment instruction included in the credit transfer is accepted without being posted to the creditor customer�s account.\n- 'RCVD': 'Received' - \n  Payment initiation has been received by the receiving agent.\n- 'PDNG': 'Pending' - \n  Payment initiation or individual transaction included in the payment initiation is pending. \n  Further checks and status update will be performed.\n- 'RJCT': 'Rejected' - \n  Payment initiation or individual transaction included in the payment initiation has been rejected.\n- 'CANC': 'Cancelled'\n  Payment initiation has been cancelled before execution\n  Remark: This codeis accepted as new code by ISO20022.\n- 'ACFC': 'AcceptedFundsChecked' -\n  Preceding check of technical validation and customer profile was successful and an automatic funds check was positive .\n  Remark: This code is accepted as new code by ISO20022.\n- 'PATC': 'PartiallyAcceptedTechnical'\n  Correct The payment initiation needs multiple authentications, where some but not yet all have been performed. Syntactical and semantical validations are successful.\n  Remark: This code is accepted as new code by ISO20022.\n- 'PART': 'PartiallyAccepted' -\n  A number of transactions have been accepted, whereas another number of transactions have not yet achieved 'accepted' status.\n  Remark: This code may be used only in case of bulk payments. It is only used in a situation where all mandated authorisations have been applied, but some payments have been rejected."
        type: string
        enum:
        - ACCC
        - ACCP
        - ACSC
        - ACSP
        - ACTC
        - ACWC
        - ACWP
        - RCVD
        - PDNG
        - RJCT
        - CANC
        - ACFC
        - PATC
        - PART
      scaMethods:
        required: false
        displayName: scaMethods
        description: |
          This data element might be contained, if SCA is required and if the PSU has a choice between different

          authentication methods.


          Depending on the risk management of the ASPSP this choice might be offered before or after the PSU

          has been identified with the first relevant factor, or if an access token is transported.


          If this data element is contained, then there is also an hyperlink of type 'startAuthorisationWithAuthenticationMethodSelection'

          contained in the response body.


          These methods shall be presented towards the PSU for selection by the TPP.
        type: array
        items:
          type: authenticationObject
      chosenScaMethod:
        required: false
        displayName: chosenScaMethod
        description: Authentication Object
        type: authenticationObject
      challengeData:
        required: false
        displayName: challengeData
        description: |
          It is contained in addition to the data element 'chosenScaMethod' if challenge data is needed for SCA.

          In rare cases this attribute is also used in the context of the 'startAuthorisationWithPsuAuthentication' link.
        type: challengeData
      _links:
        required: false
        displayName: _links
        description: "A list of hyperlinks to be recognised by the TPP. The actual hyperlinks used in the response depend on the \ndynamical decisions of the ASPSP when processing the request.\n\nRemark: All links can be relative or full links, to be decided by the ASPSP.\n\nType of links admitted in this response, (further links might be added for ASPSP defined extensions):\n\n  * 'startAuthorisation': \n    In case, where just the authorisation process of the cancellation needs to be started, \n    but no additional data needs to be updated for time being (no authentication method to be selected, \n    no PSU identification nor PSU authentication data to be uploaded).\n  * 'startAuthorisationWithPsuIdentification': \n    In case where a PSU Identification needs to be updated when starting the cancellation authorisation: \n    The link to the cancellation-authorisations end-point, where the cancellation sub-resource has to be \n    generated while uploading the PSU identification data.\n  * 'startAuthorisationWithPsuAuthentication': \n    In case of a yet to be created authorisation sub-resource: The link to the cancalation authorisation end-point, \n    where the authorisation sub-resource has to be generated while uploading the PSU authentication data.\n  * 'startAuthorisationWithEncryptedPsuAuthentication':\n    Same as startAuthorisactionWithPsuAuthentication where the authentication data need to be encrypted on \n    application layer in uploading.\n  * 'startAuthorisationWithAuthenticationMethodSelection':\n    The link to the authorisation end-point, where the cancellation-authorisation sub-resource has to be \n    generated while selecting the authentication method. This link is contained under exactly the same \n    conditions as the data element 'scaMethods'"
        type: _linksPaymentInitiationCancel
  paymentInitiationWithStatusResponse:
    displayName: paymentInitiationWithStatusResponse
    description: Generic JSON response body consistion of the corresponding payment initation JSON body together with an optional transaction status field.
    type: object
    properties:
      endToEndIdentification:
        required: false
        displayName: endToEndIdentification
        type: string
        maxLength: 35
      debtorAccount:
        required: true
        displayName: debtorAccount
        description: "Reference to an account by either\n  * IBAN, of a payment accounts, or\n  * BBAN, for payment accounts if there is no IBAN, or \n  * the Primary Account Number (PAN) of a card, can be tokenised by the ASPSP due to PCI DSS requirements, or\n  * the Primary Account Number (PAN) of a card in a masked form, or\n  * an alias to access a payment account via a registered mobile phone number (MSISDN)."
        type: accountReference
      instructedAmount:
        required: true
        displayName: instructedAmount
        type: amount
      creditorAccount:
        required: true
        displayName: creditorAccount
        description: "Reference to an account by either\n  * IBAN, of a payment accounts, or\n  * BBAN, for payment accounts if there is no IBAN, or \n  * the Primary Account Number (PAN) of a card, can be tokenised by the ASPSP due to PCI DSS requirements, or\n  * the Primary Account Number (PAN) of a card in a masked form, or\n  * an alias to access a payment account via a registered mobile phone number (MSISDN)."
        type: accountReference
      creditorAgent:
        required: false
        displayName: creditorAgent
        description: BICFI
        type: string
        pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
      creditorName:
        required: true
        displayName: creditorName
        description: Creditor Name
        type: string
        maxLength: 70
      creditorAddress:
        required: false
        displayName: creditorAddress
        type: address
      remittanceInformationUnstructured:
        required: false
        displayName: remittanceInformationUnstructured
        description: Unstructured remittance information
        type: string
        maxLength: 140
      transactionStatus:
        required: false
        displayName: transactionStatus
        description: "The transaction status is filled with codes of the ISO 20022 data table:\n- 'ACCC': 'AcceptedSettlementCompleted' -\n  Settlement on the creditor's account has been completed.\n- 'ACCP': 'AcceptedCustomerProfile' - \n  Preceding check of technical validation was successful. \n  Customer profile check was also successful.\n- 'ACSC': 'AcceptedSettlementCompleted' - \n  Settlement on the debtor�s account has been completed.\n  \n  **Usage:** this can be used by the first agent to report to the debtor that the transaction has been completed. \n  \n  **Warning:** this status is provided for transaction status reasons, not for financial information. \n  It can only be used after bilateral agreement.\n- 'ACSP': 'AcceptedSettlementInProcess' - \n  All preceding checks such as technical validation and customer profile were successful and therefore the payment initiation has been accepted for execution.\n- 'ACTC': 'AcceptedTechnicalValidation' - \n  Authentication and syntactical and semantical validation are successful.\n- 'ACWC': 'AcceptedWithChange' - \n  Instruction is accepted but a change will be made, such as date or remittance not sent.\n- 'ACWP': 'AcceptedWithoutPosting' - \n  Payment instruction included in the credit transfer is accepted without being posted to the creditor customer�s account.\n- 'RCVD': 'Received' - \n  Payment initiation has been received by the receiving agent.\n- 'PDNG': 'Pending' - \n  Payment initiation or individual transaction included in the payment initiation is pending. \n  Further checks and status update will be performed.\n- 'RJCT': 'Rejected' - \n  Payment initiation or individual transaction included in the payment initiation has been rejected.\n- 'CANC': 'Cancelled'\n  Payment initiation has been cancelled before execution\n  Remark: This codeis accepted as new code by ISO20022.\n- 'ACFC': 'AcceptedFundsChecked' -\n  Preceding check of technical validation and customer profile was successful and an automatic funds check was positive .\n  Remark: This code is accepted as new code by ISO20022.\n- 'PATC': 'PartiallyAcceptedTechnical'\n  Correct The payment initiation needs multiple authentications, where some but not yet all have been performed. Syntactical and semantical validations are successful.\n  Remark: This code is accepted as new code by ISO20022.\n- 'PART': 'PartiallyAccepted' -\n  A number of transactions have been accepted, whereas another number of transactions have not yet achieved 'accepted' status.\n  Remark: This code may be used only in case of bulk payments. It is only used in a situation where all mandated authorisations have been applied, but some payments have been rejected."
        type: string
        enum:
        - ACCC
        - ACCP
        - ACSC
        - ACSP
        - ACTC
        - ACWC
        - ACWP
        - RCVD
        - PDNG
        - RJCT
        - CANC
        - ACFC
        - PATC
        - PART
  periodicPaymentInitiationWithStatusResponse:
    displayName: periodicPaymentInitiationWithStatusResponse
    description: Generic JSON response body consistion of the corresponding periodic payment initation JSON body together with an optional transaction status field.
    type: object
    properties:
[...]
